<!-- 
/ "../src/assets/css/zabuto_calendar.min.css",
         // "../src/assets/css/owl.carousel.min.css",
-->
<div id="page-header">
  <header>
    <div class="container">
      <div class="secondary-nav">
        <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
        <div id="secondary-nav">
          <nav>
            <div class="left opacity-60">
              <a href=""><i class="fa fa-phone"></i>+1 781-903-1047</a>
              <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>hello@example.com</a>
            </div>
            <!--end left-->
            <div class="right">
              <div class="element">
                <select>
                  <option>$</option>
                  <option>€</option>
                </select>
              </div>
              <!--end element-->
              <div class="element">
                <a routerLink="/signin" routerLinkActive="active">Sign In</a>
              </div>
              <!--end element-->
              <div class="element">
                <a routerLink="/register" routerLinkActive="active">Register</a>
              </div>
              <!--end element-->
              <div class="element">
                <select>
                  <option>EN</option>
                  <option>DE</option>
                  <option>RU</option>
                  <option>ES</option>
                </select>
              </div>
              <!--end element-->
            </div>
            <!--end right-->
          </nav>
        </div>
      </div>
      <!--end secondary-nav-->
    </div>
    <!--end container-->
    <hr>
    <div class="container">
      <div class="primary-nav">
        <div class="left">
          <a href="index.html" id="brand"><img src="../../../assets/images/logo.png" alt=""></a>
          <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
        </div>
        <!--end left-->
        <div class="right">
          <nav id="primary-nav">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
              <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
              <li>
                <a href="#" class="has-child">Listing</a>
                <ul class="child-nav">
                  <li><a href="listing.html">List Listing</a></li>
                  <li><a href="listing-matrix.html">Matrix Listing</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-child">Pages</a>
                <ul class="child-nav">
                  <li>
                    <a href="#" class="has-child">Admin</a>
                    <ul class="child-nav">
                      <li><a href="#">Edit Accommodation</a></li>
                      <li><a href="#">My Accommodations</a></li>
                      <li><a href="profile.html">Profile</a></li>
                      <li><a href="reservations.html">Reservations</a></li>
                      <li><a href="reviews.html">Reviews</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
              <li class="submit"><a href="#"><span>Submit</span><i data-toggle="tooltip" data-placement="top" title="Submit"><img src="../../assets/images/plus.png" alt=""></i></a></li>
            </ul>
          </nav>
          <!--end nav-->
        </div>
        <!--end right-->
      </div>
      <!--end primary-nav-->
    </div>
    <!--end container-->
  </header>
  <!--end header-->
</div>
<!--end page-header-->

