        <div class="hero-section" data-height="600">
            <form id="form-hero">
                <div class="hero-inner">
                    <div class="hero-wrapper" >
                        <div class="caption">
                            <div class="inner">
                                <div class="container">
                                    <h1 class="center">Find Your Best Holiday</h1>
                                    <div class="row no-gutters">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="label-on-input" for="address-autocomplete">Location</label>
                                                <input type="text" class="form-control" id="address-autocomplete" name="location" placeholder="Enter Location or Place Name">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="form-check-in">Check In</label>
                                                <input type="text" class="form-control date" id="form-check-in" name="nights" placeholder="Check In Date">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="form-nights">Nights</label>
                                                <input type="number" class="form-control" id="form-nights" name="nights" placeholder="Nights">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="favorite-search">
                                        <span>Favorite Searches</span>
                                        <a href="">Bourges</a>
                                        <a href="">Orléans</a>
                                        <a href="">Rouen</a>
                                        <a href="">Toulouse</a>
                                    </div>
                                    <!--end favorite-searches-->
                                </div>
                                <!--end container-->
                                <div class="bg-transfer"><img src="../../../assets/images/bg-hero.jpg" alt=""></div>
                                <!--end bg-transfer-->
                            </div>
                            <!--end inner-->
                        </div>
                        <!--end caption-->